.sidenav-container {
  height: 100vh;
  width: 237px;
  background-color: #fafbfd;
  .header {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 10px;
  }
  .nav-container {
    height: 400px;
    margin-top: 80px;

    li {
      list-style: none;
      padding-top: 40px;
      padding-left: 40px;
      a {
        text-decoration: none;
        color: #9e9e9e;
      }
      a:hover,
      a:focus {
        color: #090f31;
        font-weight: 700;
      }
    }
  }
}
